

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/sy.css"  type="text/css" rel="stylesheet" >
    <link href="/css/w3style.css"  type="text/css" rel="stylesheet" >
    <link href="/css/style.css"  type="text/css" rel="stylesheet" >
    <link href="/css/bootstrap.min.css"  type="text/css" rel="stylesheet" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ELIM CHRISTIAN CENTRE</title>
</head>
<body>
        <nav class="navbar navbar-dark bg-dark justify-content-between">
                <a class="navbar-brand" href="profile"><strong>ELIMCC SYSTEM</strong></a>
        </nav>
    <div class="container">
        <h1>There was an error in the input The Phone number inputed already exist in the system please check and input again</h1>
        <p><%=err%></p>
       </div>
    <script src="/js_scripts/insert_member.js"></script>

    <script src="/js_scripts/jquery.js"></script>
</body>
</html>
