<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/sy.css"  type="text/css" rel="stylesheet" >
    <link href="/css/w3style.css"  type="text/css" rel="stylesheet" >
    <link href="/css/style.css"  type="text/css" rel="stylesheet" >
    <link href="/css/bootstrap.min.css"  type="text/css" rel="stylesheet" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ELIM CHRISTIAN CENTRE</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <a href="/login" class="btn btn-lg btn-success">Login</a>
            <a href="/signup" class="btn btn-lg btn-info">Register</a>
          </div>
    </div>
</body>
</html>